<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IwcfaDD" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60814/wcfaDD.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IwcfaDD" contract="Wcf_Add.IwcfaDD"
                name="BasicHttpBinding_IwcfaDD" />
        </client>
    </system.serviceModel>
</configuration>